<%= render 'layouts/list', book: Book.new, user: @user %>

<h1>Book detail</h1>
<table>
  <tr>
    <td>
      <%= link_to user_path(@user) do %>
        <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
        <%= @user.name %>
      <% end %>
      </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td><%= link_to "Edit", edit_book_path %></td>
    <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
  </tr>
</table>