<br>
<div class="container">
  <div class="row">
    <h1>User info</h1>
    <table class="table table-striped">
      <tr>
        <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></td>
      </tr>
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= user.introduction %></td>
      </tr>
      <tr>
        <td style="text-align:center;">
          <%= link_to edit_user_path(user) do %>
              <i class="nav-link fas fa-user-cog"></i>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

    <h1>New book</h1>
    <%= form_with model: book, local:true do |f| %>
      <h4>Title</h4>
      <p><%= f.text_field :title %></p>
      <h4>Opinion</h4>
      <p><%= f.text_area :body %></p>
      <p><%= f.submit "Create Book" %></p>
    <% end %>
