<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/fb63ee4e0c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bookers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to user_path(current_user.id), class: "nav-link fas fa-home" do %>
                            Home
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to users_path, class: "nav-link fas fa-users" do %>
                            Users
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to books_path, class: "nav-link fas fa-book-open" do %>
                            Books
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to destroy_user_session_path, class: "nav-link fas fa-sign-out-alt", method: :delete do %>
                            logout
                        <% end %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to root_path, class: "nav-link fas fa-home" do %>
                            Home
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to homes_about_path, class: "nav-link fas fa-link" do %>
                            About
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to new_user_registration_path, class: "nav-link fas fa-user-plus" do %>
                            sign up
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to new_user_session_path, class: "nav-link fas fa-sign-in-alt" do %>
                            login
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>

    <%= yield %>
  </body>
</html>
